extends layout
block content
    .centerElementDescription Questa applicazione web ha lo scopo di aiutare i bambini a scrivere fiabe strutturate
        | libere da stereotipi di genere attraverso una serie di attività.
        | </br>
        | </br>
        | </br>
        | </br>
        | </br> Lavoro ideato per tesi di Master
        | </br> Master in Management & Informatics
        | </br> Semestre 2019
        | </br> Università della Svizzera Italiana