extends layout
block content
    body.bgimg3(onload="readTaleData();")
    .row.h-50
        // First card
        .col-xl-3.col-md-6.mb-4.h-100
            .card.border-left-primary.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Caratteristiche
                                p.text-xs#caratteristiche bla
                        .col-auto
                            i.fas.fa-id-badge.fa-2x.text-gray-300
        // Second card
        .col-xl-3.col-md-6.mb-4.h-100
            .card.border-left-success.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Oggetti e poteri magici
                                p.text-xs#oggetti bla
                        .col-auto
                            i.fas.fa-magic.fa-2x.text-gray-300
        // Third card
        .col-xl-3.col-md-6.mb-4.h-100
            .card.border-left-success.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Luogo
                                p.text-xs#luogo bla
                        .col-auto
                            i.fas.fa-map-marker.fa-2x.text-gray-300
        // Fourth card
        .col-xl-3.col-md-6.mb-4.h-100
            .card.border-left-warning.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Prove
                                p.text-xs#prove bla
                        .col-auto
                            i.fas.fa-check.fa-2x.text-gray-300
    .row.h-75
        .col-lg-6.col-md-6.mb-4.h-75
            // Default Card Example
            .card.mb-4
                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Personaggio
                    p.fas.fa-child
                    p.text-xs#personaggio bla
        .col-lg-6.col-md-6.mb-4.h-75
            // Default Card Example
            .card.mb-4
                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Dati personali
                    p.fas.fa-users
                    p.text-xs#datiPersonali bla

