* {
    box-sizing: border-box;
    transition: .3s;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    --size-px: 300px;
    --size: 300;
    --size-lg: 450px;
    --transform: 150px;
    --transformMinus: -150px;
}

.scene {
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*margin-left: -20%;*/
    height: 100%;
    width: 100%;
}


.cube {
    transform-style: preserve-3d;
    /*position: relative;*/
    width: var(--size-px);
    height: var(--size-px);
    /*animation: rotate 10s ease-in-out infinite;*/
    transform-origin: center center;
}

.animation {
    animation: rotate 1s ease-in-out infinite;
}

.side {
    border-style: solid;
    position: absolute;
    width: var(--size-px);
    height: var(--size-px);
    /*background-color: #333;*/
    /*opacity: .95;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    transform: translateZ(var(--transform)) rotateX(180deg);
    background-image: url('../images/cubes/corpo1.png');
}

.left {
    transform: translateX(var(--transformMinus)) rotateY(90deg);
    background-image: url('../images/cubes/corpo2.png');
}

.right {
    transform: translateX(var(--transform)) rotateY(90deg);
    background-image: url('../images/cubes/corpo3.png');
}

.top {
    transform: translateY(var(--transformMinus)) rotateX(90deg);
    background-image: url('../images/cubes/corpo4.png');
}

.bottom {
    transform: translateY(var(--transform)) rotateX(270deg);
    background-image: url('../images/cubes/corpo5.png');
}

.front {
    transform: translateZ(var(--transform));
    background-image: url('../images/cubes/corpo6.png');
}

@keyframes rotate {
    0% { transform: rotateX(0)}
    12.5% { transform: rotateY(90deg)}
    25% { transform: rotateY(270deg)}
    37.5% { transform: rotateY(270deg)}
    50% { transform: rotateY(360deg)}
    62.5% { transform: rotateX(90deg)}
    75% { transform: rotateX(180deg)}
    87.5% { transform: rotateX(270deg)}
    100% { transform: rotateX(360deg)}
}