body {
  padding: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: #00B7FF;
}
.bgcolor {
  background-color: #e6e6e6;
}

.bgimg {
  background-image: url('../images/Storytelling.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
div {
  height: inherit;
  justify-content: center;
  align-items: center;
}

.mybtn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.mybtn:hover {background: #bfbfbf;}

.fiabot {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-family: "Comic Sans MS";
  color: white;
}

.mybtnstart {
  border: solid;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  color: black;
  font-weight: bold;
}
.mybtnstart:hover {background: #bfbfbf;}

/* Characteristics file*/
.btncaract {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.btncaract:hover {background: #bfbfbf;}

.carTitle {
  font-size: 50px;
  color: #dcd0bc;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.wrapper {
  justify-content: space-between;
}

.column2 {
  align-items: center;
  width: 400px;
  left: 50%;
  transform: translateX(40%);
}

.status {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  margin: 0;
  text-align: center;
}

.dice {
  width: 120px;
  float: left;
  /*background-color: #dcd0bc;*/
  content: url("../images/moneta.png");
  border: 1px solid black;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}

.dice-roll {
  cursor: pointer;
  text-transform: capitalize;
}
.cursor{
  cursor: pointer;
}