body {
  padding: 200px;
  padding-top: 150px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: #00B7FF;
}
p{
  font-size: 22px;
  color: black;
}

/* Main page*/
.bgcolor {
  background-color: #e6e6e6;
}

.bgimg {
  background-image: url('../images/Storytelling.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.bgimg2 {
  background-image: url('../images/c.png');
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 100%;
}
div {
  height: inherit;
  justify-content: center;
  align-items: center;
}

.mybtn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.mybtn:hover {background: #bfbfbf;}

.fiabot {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-family: "Comic Sans MS";
  color: white;
}

.mybtnstart {
  border: solid;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  color: black;
  font-weight: bold;
}
.mybtnstart:hover {background: #bfbfbf;}

/* Characters page*/

/* Characteristics page*/
.btncaract {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.btncaract:hover {background: #bfbfbf;}

.carTitle {
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 70px;
  color: #cc99ff;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
#charForm {
  font-size: 18px;
}

.textAllign {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.charContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.column1 {
  /*float: left;*/
  padding: 30px;
}
.column2 {
  padding: 30px;
  /*align-items: center;*/
  /*width: 300px;*/
  /*float: right;*/
}

.status {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  margin: 0;
  text-align: center;
}

.dice {
  width: 120px;
  float: left;
  content: url("../images/moneta.png");
  border: 1px solid black;
  font-size: 24px;
  border-radius: 5px;
}

.dice-roll {
  cursor: pointer;
  display: block;
}

.cursor{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

}

.nextButton {
  position: fixed;
  bottom: 200px;
  right: 200px;
}


/* Powers page */
.powcontainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#powForm {
  font-size: 18px;
}

.bgimg3 {
  background-image: url('../images/d.png');
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 100%;
}

/* Places page*/
.wheelTitle{
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Games page*/
.gameTitle{
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 70px;
  color: #b3ffb3;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.accbuttons {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Tests page*/
.tests2Text {
  text-align: center;
  transform: translateX(60%);
  width: 60%;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  transform: translateX(0%);
}

.bgimg3 {
  background-image: url('../images/e.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.carTitle {
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 70px;
  color: #ff99ff;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}